@import 'variables';
@import 'form';



@media(min-width: 900px){
    body{
        background-image: url("../images/bg-intro-desktop.png");
    }


    .grid{
        display: grid;
        grid-template-columns: 120px 2fr 2fr 120px;
        grid-template-rows: 140px 100px 1fr 1fr 140px;  
    }

    // Main text

    .form{

        input{
            margin-bottom: 0.5rem;
        }

    
        .input-group {
            position: relative;
            i{
                position: absolute;
                top: 37px;
                right: 26px;
                visibility: hidden;
            }
        } 
}  
    #section-a{
        grid-column: 2/3;
        grid-row: 3/5;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        display: grid;


        .content-wrap{
        
            display: block;
            
            
            text-align: left;
            
        }

        h2{
            font-size: 70px;
        }

        p{
            font-size: 20px;
        }
    }

    // price infomation

    #section-b{
        grid-column: 3/4;
        grid-row: 2/3;
    }

    // form

    #section-c{
        grid-row: 3/5;
        grid-column: 3/4;
        
        
        form{
            padding: 32px;
            height: 100%;
            
         }

        .btn-container{
            padding: 1rem;
        }

        .form{
            
            height: 100%;

            input{
                height: 55px;
            }

            .input-group{
                justify-content: center;
                text-align: center;
                align-items: center;
                padding: 1rem 1rem;
            }

            
        } 
    }
}

